@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;

}

.shadow {
  box-shadow: 3px 3px 8.3px 1px #2b2b2b7c;
}

.placeholders {
  color: #00000040;

}

.custom-placeholder::placeholder {
  color: rgb(255, 255, 255);
}


.adjust-spacing {
  margin-top: 9em;
}

.spacing {
  margin-top: 10rem;
}

.spacing-0 {
  margin-top: 0rem;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}